In [12]:
import pandas as pd
import json

In [5]:
df_data_profiled = pd.read_csv('profiled_data_sample.csv')
df_data_profiled

,instance_id,text,offensiveness
0,0,That’s a pretty slippery slope you’ve got ther...,0
1,1,I don't know. Sitting here now answering this ...,0
2,2,Pretty much the same as when straight people p...,3
3,3,"If you dont see it in your post, youre probabl...",3
4,4,You believe most priests are gay?,0
...,...,...,...
1180,1494,This behaviour is misleading and deceptive in ...,4
1181,1495,Offer myself as their slave and informant.,0
1182,1496,"hey, they don't call it the devil's lettuce fo...",1
1183,1497,If you want to take away my rights because of ...,0
1184,1498,People Kill People. One Man Killed 17 People. ...,0

In [6]:
id2label = {
    0: 'not offensive',
    1: 'slightly offensive',
    2: 'moderately offensive',
    3: 'very offensive',
    4: 'extremely offensive'
}

**Store in required data format (JSONL)**

The **profile**: White, Woman, Middle Adulthood, College Degree \
The **task**: Rating the offensiveness of a Reddit comment (or simply "a text")

*Perform sociodemographic prompting*

In [14]:
# system_message = "You are a white woman in middle adulthood who has a college degree."
system_message = "Given a text, how would a person of gender 'Female', race 'White', age 'Middle adulthood' and education level 'College Degree' rate the degree of offensiveness in the text. Possible values are 'not offensive', 'slightly offensive', 'moderately offensive', 'very offensive' or 'extremely offensive'."
#user_instruction = "You will be given a Reddit comment. Tell me how offensive it is to you. Not offensive, slightly offensive, moderately offensive, very offensive or extremely offensive?"

*Write data into JSONL file*

*(Each instance is in its own line)*

In [23]:
with open("data/data_full.jsonl", "w", encoding="utf-8") as f:
    for _, row in df_data_profiled.iterrows():
        message_instance = {
            "messages": [
                {"role": "system", "content": system_message},
                {"role": "user", "content": row["text"]},
                {"role": "assistant", "content": id2label[row["offensiveness"]]}
            ]
        }
        # Write each instance as a separate JSON line
        f.write(json.dumps(message_instance) + "\n")

JSONL file created: output.jsonl